extends layout
block content
    app-registration Loading
    script(src='/build/runtime.98408385864aaa5fe22a.js')
    script(src='/build/polyfills.05d8e620659170ab9dce.js')
    script(src='/build/main.93acf9ca44ee1e6c8e8a.js')
    